/*
#wrapwrap *{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}*/
body{
  min-height: 100%;
  overflow-x: hidden;
}
body, #wrapwrap h1, #wrapwrap h2, #wrapwrap h3, #wrapwrap h4, #wrapwrap h5, #wrapwrap p, #wrapwrap a, #wrapwrap span, #wrapwrap div, #wrapwrap table, #wrapwrap tr, #wrapwrap td {
  font-family: 'Almarai','PT Serif', sans-serif;
}
html
{
  height: 100%;
}
.pages_nav{
    background-color: #ffffff !important;
    padding: 2rem 0 1rem;
}
#accordionCateg .categ{
    margin-bottom: 1rem;
}
header, .o_header_affix
{
  background-color: #fff !important;
}
.o_header_affix .headr_contact_bg{
    display:none;
}
.total_pages
{
    position: absolute;
    left: 21%;
}
.total_pages a.nav-link,.homepage_categories_btn a{
    color: #000044 !important;
}
.total_pages a.nav-link.active,.homepage_categories_btn:hover a{
    color: #FF22BB !important;
    text-decoration: none !important;
}
.product_category.homepage_categories_btn{
    background: #81818214 !important;
}
.item .product_category.homepage_categories_btn:hover{
    text-decoration: none !important;
    border: 1px solid #ee61b9 !important;
    background: #fff !important;
    color: #FF22BB !important;
}
.belsan_nav_search{
    position: absolute;
    top: 33px;
}
#belsan_header_search_input{
    display: none;
    position: absolute;
    right: 10px;
    width: 170px;
}
.belsan_header_search_icon {
    position: absolute;
    top: 7px;
}
.oe_search_button.belsan_btn_search_icon {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 1px;
    padding: 8px;
    background: #ee61b9;
    border: 1px;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
}
li#my_cart,li#my_wish {
    font-size: 0;
}
li#my_cart i,li#my_wish i{
    font-size: 14px;
}
li#my_cart sup,li#my_wish sup{
    font-size: 11px;
    background-color: #ee61b9 !important;
    border-radius: 10px;
}
/******************************/
.footer_logo_img img
{
    width: 55%;
}
.footer_logo_img
{
    text-align: left;
}
.footer_page_list
{
    float: right;
    width: 50%;
    text-align: left;
}
.footer_links{
    color: #000044;
    font-weight: bold;
    text-align: left;
}
.o_footer {
    background-color: #ffffff !important;
    color: #212529;
    padding: 3rem 0 1rem;
}
a.footer_page {
    color: #808080;
    text-decoration: none;
}
li.contact_information_social_icons {
    list-style: none;
    display: inline-block;
}
.contact_information_social_icons i
{
    background: #EBEBEB;
    padding: .7rem;
    border-radius: 50%;
    margin: 0 2px;
    color: #808080;
}
.contact_information_social_icons i:hover
{
    background: #FF22BB;
    color: #fff;
}
a.footer_page:hover {
    color: #ee61b9;
}
.footer_newsletter_form{
    position: relative;
}
.newsleter_form_btn
{
    position: absolute;
    top: 0;
    right: 1px;
    padding: 8px;
    background: #ee61b9;
    border: 1px;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
}
/**************** home ***********/
.carousel_heder_content {
    position: absolute;
    top: 32%;
    left: 8%;
    width: 400px;
    max-width: 86%;
    text-align: left;
}
.home_banner{
    padding: 1rem 0;
}
.btn_header{
    float: unset !important;
    background: #000044;
    color: #fff;
    border-radius: 32px;
    opacity: 1;
}
.carousel_heder_title h1
{
    letter-spacing: 0.03px;
    color: #000044;
    opacity: 1;
    font-weight: 600;
}
.carousel_heder_title h5
{
    font-size: 29px;
    padding: 1rem 0;letter-spacing: 0.02px;
    color: #DB4690;
    opacity: 1;
}
.header_carousel_icon_prev {
    position: absolute;
    background-color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 1;
    left: -20px;
    top: 45%;
    color: #FF22BB !important;
    border-radius: 50%;
}
.header_carousel_icon_next {
    background-color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 1;
    right: -20px;
    top: 45%;
    color: #FF22BB !important;
    border-radius: 50%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.new_products{
    position: relative;
}
.new_product_container{
    position: absolute;
    bottom: -1px;
    background: rgb(255, 255, 255, 77%);
    width: 95%;
    padding: 2rem;
    text-align: left;
    border-radius: 35px 35px 0 0;
}
.new_product_container h3{
    color: #000044;
    font-weight: 600;
}
.new_product_container h5{
    color: #DB4690;
}
.new_product_container .btn_header{
    background: #dc5393;
    color: #fff;
    border-radius: 32px;
    opacity: 1;
    top: 40%;
    position: absolute;
    right: 20px;
}
.sale_section{
    margin: 0 0 1rem 0rem;
}
.sale_container{
    position: relative;
}
.sale_content{
    position: absolute;
    left: 42px;
    top: 25%;
    text-align: left;
}
.sale_content h1
{
    color: #FF22BB;
    font-weight: 600;
    clear: both;
}
.btn_sale {
    background: #dc5393;
    color: #fff;
    border-radius: 32px;
    float: left !important;
    clear: both;
}
.sale_content h5
{
    color: #000044;
    font-size: 23px;
    padding: 8px 0;
}
#cart_products.js_cart_lines tbody tr {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    background: #fff;
    margin: 2rem 0 !important;
    display: block;
    width: 522px;
    height: 160px !important;
    padding: 1.5rem 1rem;
}
#cart_products tbody td {
    border-top: none;
}
#cart_products tbody .td-price{
    color: #FF22BB;
    font-weight: 600;
}
#cart_products tbody .td-product_name div a{
    color: #000044;
    font-weight: 600;
}
.input-group-append .js_add_cart_json
{
    color: #000044;
    background: #F0F0F0;
    border-radius: 0 15px 15px 0 !important;
}
.input-group-prepend .js_add_cart_json
{
    color: #000044;
    background: #F0F0F0;
    border-radius: 15px 0 0 15px !important;
}
#cart_products .oe_website_spinner .js_quantity
{
    background: #f0f0f0;
    border: none;
    color: #ee61b9;
    font-weight: 600;
}
.td-action .js_delete_product
{
    color: #000044;
    border: 1px solid #000044;
    padding: 5px 8px;
    border-radius: 7px;
}
.card.js_cart_summary .card-body div a.btn-secondary ,.oe_cart a.btn-secondary
{
    background: #FF22BB !important;
    border-radius: 18px;
    border: none;
    padding: .7rem 2rem;
    width: unset;
    float: left !important
}
.oe_cart a.btn-primary, #o_payment_form_pay, .oe_website_sale .btn-primary.float-right
{
    color: #ee61b9 !important;
    border: 1px solid #ee61b9;
    background-color: #FFF !important;
    border-radius: 18px;
    font-weight: 600;
    padding: .7rem 2rem;
}
.oe_cart a.btn-primary span.fa, .oe_cart a.btn-secondary span.fa, .oe_website_sale .col-xl .wizard .progress-wizard, th.td-qty, th.td-price{
    display: none;
}
#cart_products th.td-img,#cart_products thead th.td-qty,#cart_products thead th.td-price ,#cart_products tr th{
    border: none !important;
}
#cart_products thead th.td-img
{
    color: #FF22BB;
    font-size: 23px;
    position: relative;
    padding-bottom: 7px;
}
#cart_products thead th.td-img:after
{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 70px;
    height: 3px;
    background: #ee61b9;
}
.show_coupon{
    color: #041444 !important;
    font-weight: 600;
}
#cart_products.table-striped tbody tr{
    background: #fff !important;
    height: 100px;
}
#payment_method, .oe_website_sale .oe_cart{
    text-align: left;
}
#shipping_and_billing a.float-right.no-decoration{
    color: #ee61b9;
    float: left !important;
}
#shipping_and_billing div b
{
    color: #061649;
}
.order-xl-1 .col-lg-12 .o_page_header{
    color: #041444;
}
.one_kanban .card.border_primary {
    border: 1px solid #ee61b9;
}
.card-body .js_edit_address{
    color: #ee61b9;
    padding-right: 5px !important;
}
.oe_login_form, .oe_signup_form{
    text-align: left;
    border: 1px solid #D5D5D5;
    max-width: 500px;
    padding: 3rem;
}
#password, #login,.oe_website_login_container #confirm_password,.oe_website_login_container #name {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 0;
    color: #FF22BB !important;
    font-size: 12px;
}
.oe_login_buttons button
{
    background: #FF22BB !important;
    border-radius: 8px;
    border: none;
    padding: .7rem 3rem;
    width: unset;
    font-size: 12px;
    float: right;
}
.oe_login_buttons a
{
    border: 1px solid #D5D5D5;
    color: #000044;
    padding: .7rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    float: left !important;
}
.js_product .td-price .js_add, .modal-footer .btn-secondary{
    border: 1px solid #000044;
    color: #000044;
    padding: .7rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    background: #fff;
    margin-top: 1rem;
}
.oe_signup_form
{
    padding: 3rem 3rem 5rem !important;
}
.oe_login_buttons .justify-content-between{
    margin-top: 0!important;
    display: unset !important;
}
.field-login label, .field-password label
{
    color: #171f5b;
    font-size: 14px;
}
.oe_website_login_container {
    text-align: left;
}
#products_grid .oe_product {
    border: 0 ;
}
#products_grid .oe_product .oe_product_image img {
    max-width: 100%;
    max-height: unset;
    margin-top: 0;
    margin-bottom: 0;
}
#products_grid.col-lg-12 .oe-height-2 {
    height: 400px;
}
#products_grid .oe_product section {
    border-top: unset;
    background: unset;
    min-height: 115px;
}
.oe_product_cart section h6 a{
    color: #041444;
    margin-bottom: 1rem;
    display: block;
    height: 35px;
}
.products_pager .dropdown.ml-2{
    display: none;
}
.dropdown.ml-2.dropdown_sorty_by {
    display: block;
    width: 55%;
}
.dropdown.ml-2.dropdown_sorty_by .btn-secondary {
    display: block;
    background-color: #FFFFFF !important;
    border: 1px solid #000044;
    border-radius: 35px;
    color: #000044;
    padding: .5rem 1.5rem;
}
.dropdown.ml-2.dropdown_sorty_by .dropdown-toggle::after{
    margin-left: 20px;
}
.products_pager .o_website_sale_search{
    display: none;
}
.products_pager .pagination{
    width: 40%;
}
.latest_product_title{
    color: #ee63bf;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
.latest_product_title:after{
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    background: #ee63bf;
    width: 65px;
    height: 2px;
}
.latest_product_sub_title
{
    color: #041444;
}
.product_name_title
{
    color: #041444 !important;
    display: block;
    margin-top: 20px;
    text-decoration: none !important;
    font-size: 15px;
}
.product_details_container{
    position:relative;
    padding: 5px 15px 30px;
}
.product_category
{
    float: left;
    background: #9113ac14;
    padding: .5rem;
    font-size: 11px;
    color: #9113AC;
    border-radius: 30px;
}
.product_price span
{
    float: right;
    color: #FF22BB;
    font-weight: 600;
}
.products_pager .page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 0 !important;
}
.products_pager .page-item .page-link{
    color: #ee64c4;
    border-color: #ee64c4;
}
.products_pager .page-item.disabled .page-link{
    border-color: #ee64c4;
    color: #a4a5a5;
}
.products_pager .page-item.active .page-link{
    background-color: #ee64c4;
    border-color: #ee64c4;
    color: #fff;
}
.product_price .btn-secondary.a-submit{
    position: absolute;
    right: 45%;
    background: unset;
    border: none;
    color: #041444;
}
.product_price .btn-secondary.o_add_wishlist{
    position: absolute;
    right: 35%;
    background: unset;
    border: none;
    color: #041444;
    /*bottom: 62px;*/
}
.product_discount
{
    display: block;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: -25%;
    color: #fff !important;
    background: #ee64c4;
    padding: .4rem 1rem;
    border-radius: 15px;
}
#product_details h1{
    text-align: left;
    color: #000044;
    font-size: 27px;
}
#product_detail .breadcrumb, #product_details hr, thead th,#product_detail .col-md-8 .form-inline.justify-content-end{
    display: none !important;
}
.Shop_details_disc{
    top: 0%;
    left: 40%;
    color:#fff !important;
}
.shop_details_category{
    padding: .5rem 2rem;
    position: absolute;
    top: 0%;
}
.card.js_cart_summary .card-body div a.btn-secondary{
    width: 100%;
}
#product_details .product_price{
    position: relative;
}
#product_details .js_main_product .o_add_wishlist, #product_details .js_main_product .o_add_wishlist_dyn,#product_details p.text-muted:last-child{
    display: none;
}
#product_details .js_product .css_quantity{
    float: right;
}
.o_portal_chatter_composer .o_portal_chatter_composer_form .o_portal_chatter_composer_btn{
    margin-top: 1rem !important;
}
#product_details #add_to_cart, .o_portal_chatter_composer_form .o_portal_chatter_composer_btn, #o_comparelist_table .td-wish-btn .o_wish_add, .oe_website_sale .d-xl-none .btn-secondary
{
    background: #FF22BB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: navajowhite;
    float: left !important;
    margin-top: 0 !important;
    font-size: 14px;
}
#product_details .js_main_product #add_to_cart{
    margin-right: 25px;
}
.checkout_autoformat .form-group .col-form-label{
    color: #9D9D9D;
}
.checkout_autoformat .form-group .form-control
{
    background: #eeeeee63 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: rgb(157 157 157);
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #f8f9fa !important;
    color: #aeaeae;
}
.dropdown_sorty_by a.dropdown-item{
    font-size: 12px;
}
#o-carousel-product img{
    padding: 5px;
}
p.product_price,.oe_optional_products_modal .table-striped .td-price,b.product_price
{
    float: right;
    color: #FF22BB;
    font-weight: 600;
}
.home_latest_product_categ{
    bottom: 0%;
    top: unset;
    right: 0;
}
.popover-body span.h6{
    color: #000044 !important;
}
.popover-body div.text-center a.btn-primary{
    background: #FF22BB !important;
    border-radius: 8px;
    border: none;
    padding: .7rem 3rem;
    width: unset;
    font-size: 12px;
    margin-bottom: 1rem;
}
.popover.mycart-popover.show{
    left: 70%;
}
.modal-header .close {
    padding: 1rem;
    margin: unset;
    color: #FF22BB;
}
.td-qty .oe_website_spinner .js_add_cart_json{
    border-color: #875A7B;
}
.td-product_name strong{
    color: #171f5b;
}
.modal-content .oe_optional_products_modal .table-striped td{
    padding: 1rem !important;
}
.js_cart_summary .card-body  h4{
    text-align: left;
}
.oe_optional_products_modal .js_product .td-product_name .float-left
{
    float: left !important;
    width: 100%;
    margin-bottom: 1rem;
}
.modal-footer .btn-primary{
    background: #FF22BB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: navajowhite;
    font-size: 12px;
    padding: .7rem 1rem;
    margin-top: 1rem !important;
}
.modal-header{
    border-bottom: none;
}
.js_product.js_main_product{
    float: left;
    text-align: left;
}
.badge-secondary{
    background-color: #ff22bb !important;
}
#product_details .product_price .o_not_editable{
    clear: both;
    display: inline-block;
}
#product_details .product_price b.oe_price {
    position: absolute;
    right: 0;
    top: 0;
    color: #ff22bb;
}
.row.o_website_rating_card_container {
    text-align: left;
}
#oe_main_menu_navbar > ul.o_menu_systray{
    float: unset !important;
}
.oe_website_sale .wishlist-section{
    text-align: left;
}
#o_comparelist_table td.text-left{
    text-align: left !important;
}
#o_comparelist_table td.text-left strong a{
    color: #000044;
}
.o_wish_rm small{
    color: #ff22bb;
}
.dropdown_sorty_by .btn-secondary{
    width: 25%;
    float: right;
}
.dropdown_sorty_by.show .dropdown-menu.show{
    left: 70% !important;
    right: unset !important;
}